.marca {
  font-style: italic;
  background-color: rgb(11, 11, 198);
  color: white;
  font-size: 8pt;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(186, 204, 218);
  font-family: verdana;
}

.configuracao {
  text-align: center;
  font-family: verdana;
  font-size: 10pt;
  margin-bottom: 0;
  margin-top: 0;
}

#qtdNumeros {
  font-size: 10pt;
}

#botaoSortear {
  border-radius: 6px;
  width: 70px;
  height: 30px;
  font-family: verdana;
  font-size: 10pt;
  box-shadow: black;
}

.ult_numero {
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 15pt;
  margin-bottom: 0;
  margin-top: 0;
}

#titulo {
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  background-color: rgb(11, 11, 198);;
  color: white;
  width: 100%;
  padding: 5px 0;
  font-family: Verdana;
}

#caixa_texto {
  text-align: center;
  font-size: 12pt;
  color: black;
  font-style: italic;
  width: 400px;
  height: 180px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  font-family: verdana;
  margin-bottom: 20px;
}

#caixa_texto ol {
  margin-left: -30px;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  font-style: italic;
  font-family: verdana;
}

footer {
  margin: 5px;
  padding: 10px;
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
  text-align: center;
  width: 100%;
}
